.btn{
    width: 100%;
    padding: 18px;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    color: #999;  
}

.text{
    padding-left: 15px;
    display: none;
}

.btn:hover{
    background-color: rgb(228, 223, 223);
    color: black;
}

