#wrap{
    width: 520px;
    height: 333px;
    margin: 100px auto;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    background-color: aqua;
}

img{
    width: 500px;
    height: 333px;
}
li{
    float: left;
    margin: 0px 10px;
}
#ulList{
    position: absolute;
    left: 0;
}
#aNav{
    position: absolute;
    bottom: 20px;
}
#aNav a{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    opacity: 0.5;
    background-color: black;
    float: left;
}
#aNav a:first-child{
    background-color: red;
}